.user_img_tags{
    display: flex;
    align-items: center;
    padding:2%  0px 0px 4%;
    gap:0% 2%;
}

.user_content{
    width:100%;
    height:100%;
    padding:5%;
    display: flex;
    flex-direction: column;
    gap:14px;
}

.img{
    width:140px;
    height:140px;
    border-radius: 50%;
}
.table_content{
   width:100%;
   height:100%;
   display: flex;
   justify-content: start;
   margin-left: 5%;
}
h2{
    text-align: center;
    color:rgb(40, 40, 218);
    font-size: 20px;
}
.table_content div{
    width:80%;
    display: flex;
    flex-direction: column;
    gap:30px;

}
table{
    border-collapse: collapse;
}
thead{
    background: rgb(49, 49, 225);
    color:white;
}
thead th{
    padding:9px 0px;
    border: none;
}
tr{ 
    box-shadow: 0 0 3px gray;
}
td{
    text-align: center;
    padding:9px 0px;
}
.user_button{
    width:100px;
    height:25px;
    margin : 2% 0px 0px 38%;
    background: red;
    outline: none;
    border: none;
    color:white;
    border-radius: 7px;
    transition: background 0.2s ease;
    transition: scale 0.2s ease;
}

.user_button:hover{
    background: rgb(196, 0, 0);
    scale: 105%;
}